.linkRowContainer {
    height: 40px;

    @media (max-width: 430px) {
        margin-bottom: 1rem;
        .linkRowValue {
            display: block;
        }
    }
}

.linkRowIcon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3rem;
    color: #cdf;
}

.linkRowLabel {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3rem;
    color: #cdf;
    line-height: 20px;
}

.linkRowValue {
    display: inline-block;
    vertical-align: middle;
    text-decoration: underline;
    //color: #7bf;
}